In [1]:
print("Hello World")

Hello World

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("TSLA.csv")

In [6]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-08-16,45.098000,45.438000,44.681999,44.722000,44.722000,11335500
1,2016-08-17,44.866001,44.966000,44.560001,44.647999,44.647999,8935500
2,2016-08-18,44.764000,45.132000,44.458000,44.702000,44.702000,8572500
3,2016-08-19,44.708000,45.034000,44.506001,45.000000,45.000000,8297500
4,2016-08-22,44.834000,45.021999,44.535999,44.585999,44.585999,10327500
...,...,...,...,...,...,...,...
1253,2021-08-09,710.169983,719.030029,705.130005,713.760010,713.760010,14715300
1254,2021-08-10,713.989990,716.590027,701.880005,709.989990,709.989990,13432300
1255,2021-08-11,712.710022,715.179993,704.210022,707.820007,707.820007,9800600
1256,2021-08-12,706.340027,722.799988,699.400024,722.250000,722.250000,17459100
1257,2021-08-13,723.710022,729.900024,714.340027,717.169983,717.169983,16698900

In [7]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2016-08-16  45.098000  45.438000  44.681999  44.722000  44.722000  11335500
1  2016-08-17  44.866001  44.966000  44.560001  44.647999  44.647999   8935500
2  2016-08-18  44.764000  45.132000  44.458000  44.702000  44.702000   8572500
3  2016-08-19  44.708000  45.034000  44.506001  45.000000  45.000000   8297500
4  2016-08-22  44.834000  45.021999  44.535999  44.585999  44.585999  10327500

In [8]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03
mean,183.274022,187.265251,178.941224,183.351102,183.351102,4.441050e+07
std,227.979867,232.845126,222.443374,227.987027,227.987027,3.035737e+07
min,36.220001,36.945999,35.397999,35.793999,35.793999,8.297500e+06
25%,54.985001,55.930001,53.929001,54.994501,54.994501,2.478255e+07
50%,66.602002,67.950001,65.445999,66.756000,66.756000,3.498150e+07
75%,165.516998,168.243504,161.504005,163.856503,163.856503,5.211238e+07
max,891.380005,900.400024,871.599976,883.090027,883.090027,3.046940e+08

In [10]:
df['Open']

0        45.098000
1        44.866001
2        44.764000
3        44.708000
4        44.834000
           ...
1253    710.169983
1254    713.989990
1255    712.710022
1256    706.340027
1257    723.710022
Name: Open, Length: 1258, dtype: float64