In [2]:
# -----------------------------------------------------------
# demonstrates how to implement a constructed database (via
# firebase) into our code + convert the file into a readable
# CSV file/data frame
#
# 28 March 2022, Alejandro Echaniz
# -----------------------------------------------------------

# importing statements
import json
import csv
import pandas as pd

In [3]:
# implementing the Json file into program
with open('ae_dataset.json') as json_file:
    data = json.load(json_file)
print(data)

{'Top 10 FO Songs': [{'Length': '3:20', 'Streams': 495175000, 'Title': 'Thinking Bout You'}, {'Length': '3:30', 'Streams': 376479000, 'Title': 'Chanel'}, {'Length': '5:07', 'Streams': 322024000, 'Title': 'Nights'}, {'Length': '3:04', 'Streams': 320497000, 'Title': 'Pink + White'}, {'Length': '4:09', 'Streams': 308399000, 'Title': 'Ivy'}, {'Length': '3:54', 'Streams': 295521000, 'Title': 'Lost'}, {'Length': '4:09', 'Streams': 198656000, 'Title': 'Self Control'}, {'Length': '5:04', 'Streams': 179926000, 'Title': 'Super Rich Kids'}, {'Length': '5:14', 'Streams': 179478000, 'Title': 'Nikes'}, {'Length': '5:02', 'Streams': 165193000, 'Title': 'Novacane'}]}

In [4]:
# converting JSON --> CSV in order to create a dataframe
songList = data['Top 10 FO Songs']
data_file = open('C:/Users/aecha/OneDrive/Documents/Github/Tamid-TechEdu-S22/Week3/fo_csv.csv', 'w')
csv_writer = csv.writer(data_file)
csv_writer.writerow(songList[0].keys())
# constructing the rows within dataframe via for each loop
for song in songList:
    csv_writer.writerow(song.values())
data_file.close()

In [5]:

# printing out the entire data frame
df = pd.read_csv('fo_csv.csv')
df

  Length    Streams              Title
0   3:20  495175000  Thinking Bout You
1   3:30  376479000             Chanel
2   5:07  322024000             Nights
3   3:04  320497000       Pink + White
4   4:09  308399000                Ivy
5   3:54  295521000               Lost
6   4:09  198656000       Self Control
7   5:04  179926000    Super Rich Kids
8   5:14  179478000              Nikes
9   5:02  165193000           Novacane

In [6]:
# computes + displaying the summary statistics of the dataframe
df.describe()

            Streams
count  1.000000e+01
mean   2.841348e+08
std    1.053080e+08
min    1.651930e+08
25%    1.846085e+08
50%    3.019600e+08
75%    3.216422e+08
max    4.951750e+08

In [7]:
# accessing specific columns of dataframe via df variable
df['Title']

0    Thinking Bout You
1               Chanel
2               Nights
3         Pink + White
4                  Ivy
5                 Lost
6         Self Control
7      Super Rich Kids
8                Nikes
9             Novacane
Name: Title, dtype: object