In [1]:
import json
import csv
import pandas as pd

In [2]:
with open('nfl-quarterbacks-a3af2-default-rtdb-export.json') as json_file:
    data = json.load(json_file)
print(data)

{'Quarterback Names': [{'Age': 33, 'Career Passing TDs': 223, 'Career Passing Yards': 32593, 'Name': 'Kirk Cousins'}, {'Age': 38, 'Career Passing TDs': 449, 'Career Passing Yards': 55360, 'Name': 'Aaron Rodgers'}, {'Age': 44, 'Career Passing TDs': 624, 'Career Passing Yards': 84520, 'Name': 'Tom Brady'}, {'Age': 25, 'Career Passing TDs': 103, 'Career Passing Yards': 14114, 'Name': 'Josh Allen'}, {'Age': 26, 'Career Passing TDs': 104, 'Career Passing Yards': 14539, 'Name': 'Deshaun Watson'}, {'Age': 24, 'Career Passing TDs': 70, 'Career Passing Yards': 11480, 'Name': 'Kyler Murray'}, {'Age': 24, 'Career Passing TDs': 69, 'Career Passing Yards': 9350, 'Name': 'Justin Herbert'}, {'Age': 24, 'Career Passing TDs': 45, 'Career Passing Yards': 8398, 'Name': 'Daniel Jones'}]}

In [3]:
names = data['Quarterback Names']
data_file = open('C:/Users/bflem/src/Tamid-TechEdu-S22/Week3/qb_csv.csv', 'w')
csv_writer = csv.writer(data_file)
csv_writer.writerow(names[0].keys())
for name in names:
    csv_writer.writerow(name.values())
data_file.close()

In [4]:
df = pd.read_csv('qb_csv.csv')
df

   Age  Career Passing TDs  Career Passing Yards            Name
0   33                 223                 32593    Kirk Cousins
1   38                 449                 55360   Aaron Rodgers
2   44                 624                 84520       Tom Brady
3   25                 103                 14114      Josh Allen
4   26                 104                 14539  Deshaun Watson
5   24                  70                 11480    Kyler Murray
6   24                  69                  9350  Justin Herbert
7   24                  45                  8398    Daniel Jones

In [5]:
df.describe()

             Age  Career Passing TDs  Career Passing Yards
count   8.000000            8.000000              8.000000
mean   29.750000          210.875000          28794.250000
std     7.722879          213.163544          27615.005769
min    24.000000           45.000000           8398.000000
25%    24.000000           69.750000          10947.500000
50%    25.500000          103.500000          14326.500000
75%    34.250000          279.500000          38284.750000
max    44.000000          624.000000          84520.000000

In [6]:
df['Name']

0      Kirk Cousins
1     Aaron Rodgers
2         Tom Brady
3        Josh Allen
4    Deshaun Watson
5      Kyler Murray
6    Justin Herbert
7      Daniel Jones
Name: Name, dtype: object