In [12]:
import json
import csv
import pandas as pd
with open('tamid-tech-rafi-default-rtdb-"some orders with their tractates"-export.json') as json_file:
    data = json.load(json_file)
print(data)
names = data["Talmud"] # assigning the list of dictionories under talmud to names variabe
data_file = open('./csv_tractates.csv', 'w')
csv_writer = csv.writer(data_file)
csv_writer.writerow(names[0].keys()) # keys equalls 
for name in names:
    csv_writer.writerow(name.values())
data_file.close()

{'Talmud': [{'Seder': 'Zeriam', 'Tractate:': 'Brachot'}, {'Seder': 'Moed', 'tractate': 'sukka, yoma'}, {'Seder': 'Nashim', 'tractate:': 'ketubot'}, {'Seder': 'Nazikin', 'tractate:': 'Bava Kamma'}, {'Seder': 'Kodashim', 'tractate:': 'Tamid'}]}

In [16]:
df = pd.read_csv('csv_tractates.csv')
df

      Seder    Tractate:
0    Zeriam      Brachot
1      Moed  sukka, yoma
2    Nashim      ketubot
3   Nazikin   Bava Kamma
4  Kodashim        Tamid

In [17]:
df.describe()

         Seder Tractate:
count        5         5
unique       5         5
top     Zeriam   Brachot
freq         1         1

In [19]:
df['Tractate:']

0        Brachot
1    sukka, yoma
2        ketubot
3     Bava Kamma
4          Tamid
Name: Tractate:, dtype: object