### Importing Libraries ###

In [1]:
import json
import csv
import pandas as pd

### Putting the rb_data Json File Into The Program ###

In [2]:
with open('rb_data.json') as json_file:
    data = json.load(json_file)
print(data)

{'Running Backs': [{'Name': 'Saquon Barkley', 'Rookie Rec TDs': 4, 'Rookie Rush TDs': 11, 'Rookie Rush Yards': 1307, 'Team': 'New York Giants'}, {'Name': 'Ezekiel Elliot', 'Rookie Rec TDs': 1, 'Rookie Rush TDs': 15, 'Rookie Rush Yards': 1631, 'Team': 'Dallas Cowboys'}, {'Name': 'Christian McCaffrey', 'Rookie Rec TDs': 5, 'Rookie Rush TDs': 2, 'Rookie Rush Yards': 435, 'Team': 'Carolina Panthers'}, {'Name': 'Derrick Henry', 'Rookie Rec TDs': 0, 'Rookie Rush TDs': 5, 'Rookie Rush Yards': 490, 'Team': 'Tennessee Titans'}, {'Name': 'Miles Sanders', 'Rookie Rec TDs': 3, 'Rookie Rush TDs': 3, 'Rookie Rush Yards': 818, 'Team': 'Philadelphia Eagles'}, {'Name': 'Antonio Gibson', 'Rookie Rec TDs': 0, 'Rookie Rush TDs': 11, 'Rookie Rush Yards': 795, 'Team': 'Washington Football Team'}, {'Name': 'Dalvin Cook', 'Rookie Rec TDs': 0, 'Rookie Rush TDs': 2, 'Rookie Rush Yards': 354, 'Team': 'Minnesota Vikings'}, {'Name': 'Alvin Kamara', 'Rookie Rec TDs': 5, 'Rookie Rush TDs': 8, 'Rookie Rush Yards': 728, 'Team': 'New Orleans Saints'}]}

### Converting JSON to CSV ###
Note: The data_file = open() part must contain your EXACT path to this folder. It should be users, username, src, Tamid-TechEdu-S22, Week3, filename.csv. The w stands for WRITE, which is what we are doing here.

In [5]:
names = data['Running Backs']
data_file = open('C:/Users/Bhatt/src/Tamid-TechEdu-S22/Week3/rb_csv.csv', 'w')
csv_writer = csv.writer(data_file)
csv_writer.writerow(names[0].keys())
for name in names:
    csv_writer.writerow(name.values())
data_file.close()

In [7]:
df = pd.read_csv('rb_csv.csv')
df

,Name,Rookie Rec TDs,Rookie Rush TDs,Rookie Rush Yards,Team
0,Saquon Barkley,4,11,1307,New York Giants
1,Ezekiel Elliot,1,15,1631,Dallas Cowboys
2,Christian McCaffrey,5,2,435,Carolina Panthers
3,Derrick Henry,0,5,490,Tennessee Titans
4,Miles Sanders,3,3,818,Philadelphia Eagles
5,Antonio Gibson,0,11,795,Washington Football Team
6,Dalvin Cook,0,2,354,Minnesota Vikings
7,Alvin Kamara,5,8,728,New Orleans Saints

In [8]:
df.describe()

       Rookie Rec TDs  Rookie Rush TDs  Rookie Rush Yards
count        8.000000         8.000000           8.000000
mean         2.250000         7.125000         819.750000
std          2.251983         4.882549         443.728279
min          0.000000         2.000000         354.000000
25%          0.000000         2.750000         476.250000
50%          2.000000         6.500000         761.500000
75%          4.250000        11.000000         940.250000
max          5.000000        15.000000        1631.000000

In [9]:
df['Team']

0             New York Giants
1              Dallas Cowboys
2           Carolina Panthers
3            Tennessee Titans
4         Philadelphia Eagles
5    Washington Football Team
6           Minnesota Vikings
7          New Orleans Saints
Name: Team, dtype: object